@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.ball-knowledge {
  text-align: right;
  padding-right: 1rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.button {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-duration: 100ms;
}

.button:hover {
  transform: scale(105%);
}

.prev {
  background-color: rgb(212, 212, 212);
  color: gray;
}

.next {
  background-color: rgb(75, 132, 255);
  color: white;
}

.question-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.question-choices {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}

.choice {
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.75rem;
  background-color: rgb(212, 212, 212);
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-duration: 100ms;
  width: 20rem;
}

.choice:hover {
  transform: scale(103%);
}

.selected-choice {
  background-color: rgb(130, 148, 253);
  color: white;
  font-weight: 700;
}

.question-response {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.response-correct {
  border: solid rgb(194, 255, 204) 3px;
}

.response-wrong {
  border: solid rgb(255, 194, 194) 3px;
}

.image {
  margin-bottom: 15px;
}
