@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.title {
  width: 50%;
  text-align: center;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.button {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-duration: 100ms;
}

.button:hover {
  transform: scale(105%);
}

.prev {
  background-color: rgb(212, 212, 212);
  color: gray;
}

.next {
  background-color: rgb(75, 132, 255);
  color: white;
}

.question-choices {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}

.choice {
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.75rem;
  background-color: rgb(212, 212, 212);
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-duration: 100ms;
}

.choice:hover {
  transform: scale(103%);
}
